<html>
<head>
<title>DEAL TABLE</title>
<style>
body{
	background-color:blue;
}
table{
	font-size:70px;
width:100%;
border-collapse:collapse;
border-style:groove;
background-color:green;
}
th{
height:50px;
}
td{
text-align:center;
}
</style>
</head>
<body>
<table>
<tr>
<th>clothing</th>
<th>brand</th>
<th>offer</th>
</tr>
<tr>
<td>lehangas</td>
<td>ashika</td>
<td>50%</td>
</tr>
<tr>
<td>kurtis</td>
<td>krupas</td>
<td>70%</td>
</tr>
</table>
</body>
</html>
